* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../images/bg.png);
}

.container-herder {
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: #09131c;
    padding: 20px 0px;
    border-radius: 20px 20px 20px 20px;
    color: #00fff2
}

.container-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 'day day' 'week month';
    grid-template-rows: auto;
    gap: 30px;
}

.day {
    grid-area: day;
    text-align: center;
    border-radius: 20px 20px 20px 20px;
    color: #ff4310;
    font-size: 25px;
}

.week {
    grid-area: week;
    text-align: center;
    border-radius: 20px 20px 20px 20px;
    color: rgb(255, 67, 16);
    font-size: 25px;
}

.month {
    grid-area: month;
    text-align: center;
    border-radius: 20px 20px 20px 20px;
    color: rgb(255, 67, 16);
    font-size: 25px;
}

.container-option {
    margin-left: 800px;
    width: 270px;
    font-size: 15px;
}